/* =======common styles======= */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ========common styles======= */

/* Body */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
/* logotipy and navigation */
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  margin-right: 76px;
}
.logo-color {
  color: #2e2f42;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts-container {
  display: flex;
  gap: 40px;
}
.contacts-menu {
  font-style: normal;
}
.contacts-menu-link {
  color: #434455;
}
.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: #404bbf;
}

/* =======first section =======*/
.first-section {
  background: #2e2f42;
  padding: 188px 0;
}
.first-section-name {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.first-section-button {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.first-section-button:hover,
.first-section-button:focus {
  background-color: #404bbf;
}

/* =======second section========= */

.second-section-titles {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.second-section-container {
  display: flex;
  gap: 24px;
}
.second-section-item {
  width: calc((100% - 72px) / 4);
}

/*========= third section====== */

.section-team {
  background: #f4f4fd;
}

.section-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item-name {
  padding: 32px 0;
}

.team-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.section-team-text {
  text-align: center;
}
.third-section-container {
  display: flex;
  gap: 24px;
}
/* =======fourth section: Portfolio =======*/
.section-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/* .portfolio-list-item */
.portfolio-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.portfolio-list-item-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /* box-sizing: border-box; */
}
.fourth-section-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
/*======= footer======= */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.p-footer {
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-color-footer {
  color: #f4f4fd;
}
